footer {
    display: flex;
    justify-content: center;
    background-color: #5261e9;
    height: 70px;
}

h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
    padding-top: 15px;
}

